/* html要素の文字サイズを宣言 */
html {
    font-size: medium;
}
/* h1要素の文字色、背景色、文字サイズを宣言 */
h1{
    color:blue;
    background-color: yellow;
    font-size: large;
}
/* h3要素の背景色、文字サイズを宣言 */
h3 {
   font-size:medium ;
   background-color: azure;
}
/* p要素の文字色、文字色、文字サイズを宣言 */
p {
    font-size: medium;
    color: red;

}
/* 「色」の文字色を宣言 */
span {
    color:green;
}